{% extends  'base.html' %}
{% load static %}

{% block title %}
    ፎርም መሕተቲ ቪዛ
{% endblock %}


{% block content %}

<style>
  .form-wrapper{
    width: 360px;
    height: 550px;
    margin: 1% auto;
    background: #079;
    border-radius: 5px;
    position: relative;
    overflow:hidden;
}

h3{
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
}

.form-section {
    width: 280px;
    position: absolute;
    top: 10px;
    left: 40px;
    transition: 0.5s;
}
form select,
form input{
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    color: #fff;
}

form select option{
    background: #079;

}

::placeholder{
    color: #fff;
}

.btn-box{
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

form button{
    width: 250px;
    height: 35px;
    margin: 0 10px;
    background: transparent;
    border-radius: 30px;
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
    color: #fff;
}

#Form2{
    left: 450px;
}

.step-row{
    width: 360px;
    height: 5px;
    margin: -10px auto;
    display:flex;
    align-items: center;
    box-shadow: 0 -1px 5px -1px #000;
    position: relative;
}

.step-col{
    width:180px;
    text-align:center;
    color:#333;
    position:relative;
}

#progress{
    position: absolute;
    height:100%;
    width: 180px;
    background: linear-gradient(to right, #00FFFF, #00008B);
    border-radius: 5px;
    transition: 1s;
}

</style>

<div class="form-wrapper">
<form class="contact-form row" method="POST" action="{% url 'applicant_personal_data' application_number%}">
{% csrf_token %}

<div class="form-section" id="Form1">
<h3>ውልቃዊ ሓበሬታ</h3>
<input type="hidden" name="application_number" value="{{ application_number }}" readonly>
<input name="first_name" type="text" placeholder="ስም" value="{{ traveler.first_name }}" required>
<input name="middle_name" type="text" placeholder="ስም ኣቦ"  value="{{ traveler.middle_name }}" required>
<input name="last_name" type="text" placeholder="ስም ኣበሓጎ" value="{{ traveler.last_name }}" required>
<input name="date_of_birth" type="number" placeholder="ዝተወለድካሉ ዕለት" required>
<input name="month_of_birth" type="number" placeholder="ዝተወለድካሉ ወርሒ" required>
<input name="year_of_birth" type="number" placeholder="ዝተወለድካሉ ዓመት" required>
<input name="place_of_birth" type="text" placeholder="ዝተወለድካሉ ቦታ" required >

<div class="btn-box">
<button type="button" id="Next1">ንቐጽል</button>
</div>
</div>

<div class="form-section" id="Form2">
<h3>ውልቃዊ ሓበሬታ</h3>

<input name="country_of_birth" type="text" placeholder="ዝተወለድካሉ ሃገር" required >
<input name="current_nationality" type="text" placeholder="ህሉው ዜግነት" required >
<input name="nationality_at_birth" type="text" placeholder="ዜግነት ኣብ እዋን ትውልዲ" required >

<select name="sex" required>
    {% for value, label in sex %}
        <option value="" disabled selected style="color:yellow;">ጾታ ምረጽ</option> <!-- Placeholder option -->
        <option value="{{ value }}">{{ label }}</option>
    {% endfor %}
</select>
<input name="marital_status" type="text" placeholder="ኩነታት መርዓ" required >
<input name="refugee_id" type="text" placeholder="ናይ ፓስፖርት / ስደተኛ መለለይ ቁጽሪ" value="{{ traveler.passport_number }}" required >
<input name="current_occupation" type="text" placeholder="ህሉው ስራሕ" required >

<div class="btn-box">
<button type="button" id="Back1">ንመለስ</button>
<button type="submit">ዓቅብዮ</button>
</div>
</div>

</form>

    <div class="step-row">
        <div id="progress"></div>
        <div class="step-col"></div>
        <div class="step-col"></div>
    </div>
</div>

{% block script %}
<script>
    var Form1 = document.getElementById("Form1");
    var Form2 = document.getElementById("Form2");

    var Next1 = document.getElementById("Next1");
    var Back1 = document.getElementById("Back1");

    var progress = document.getElementById("progress");

    Next1.onclick = function(){
    Form1.style.left = "-450px"
    Form2.style.left = "40px"
    progress.style.width = "360px"
}

    Back1.onclick = function(){
    Form1.style.left = "40px"
    Form2.style.left = "450px"
    progress.style.width = "180px"
}

</script>
{% endblock %}

{% endblock %}
