{% extends  'base.html' %}
{% load static %}

{% block title %}
    መወዳእታ ፎርም
{% endblock %}


{% block content %}

<style>
  .form-wrapper{
    width: 80%;
    height: 400px;
    margin: 1% auto;
    background: #079;
    border-radius: 5px;
    position: relative;
    overflow:hidden;
}

h3{
    text-align: center;
    padding: 40px;
    margin-bottom: 40px;
    color: #fff;
}

.form-section {
    width: 280px;
    position: absolute;
    top: 20px;
    left: 40px;
    transition: 0.5s;
}

form input{
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    color: #fff;
}

::placeholder{
    color: #fff;
}

.btn-box{
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

form button{
    width: 250px;
    height: 35px;
    margin: 0 10px;
    background: transparent;
    border-radius: 30px;
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
    color: #fff;
}

.information-wrapper{
    width:100%;
    margin-left:5px;
}

.information{
    color: #fff;
    width: 90%;
    text-align: center;

}



</style>

<div class="form-wrapper">
<form class="contact-form row" method="POST" action="{% url 'home' %}">
{% csrf_token %}

<h3>ሓበሬታ</h3>

<div class="information-wrapper">
    <p class="information">መስርሕ ምምላእ ፎርም ተዛዚሙ ኣሎ።
</p>
</div>

<div class="btn-box">
<button type="submit">ናብ ቅድመ ገጽ ንመለስ</button>

</div>
</form>

</div>

{% endblock %}
